# Sandbox resources
SOLARI_API_KEY=YOUR_API_KEY
E2B_API_KEY=YOUR_API_KEY

# DB Credentials
REDIS_URL=redis://localhost:6379/0
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

# Important constants
ARBITER_MATCH_TIMEOUT_SECONDS=600
ARBITER_BYOK_SECRET=secret
ARBITER_BYOK_TTL_SECONDS=3600

# Encryption keys for byok
ARBITER_RSA_PUBLIC_KEY=
ARBITER_RSA_PRIVATE_KEY=

# Logfire credentials
ENABLE_LOGFIRE_TRACING=0 # 0 for disabled, 1 for enabled

LOGFIRE_TOKEN=read-token
LOGFIRE_PROJECT_NAME=your-project-name
LOGFIRE_PROJECT_URL=your-project-url
LOGFIRE_BASE_URL=your-account-base-url
